<section class="fontRaleway">
  <h2>OUR MENU</h2>
  <div>
    <img
      src="./../../../assets/img/3_section_our_menu/Png/R1.png"
      alt="Ramen1"
    />
    <div>
      <h4>Tonkotsu Ramen</h4>
      <div>
        <div>
          <p>CHICKEN</p>
          <p>BEEF</p>
          <p>SHRIMP</p>
        </div>
        <div>
          <p>11.95€</p>
          <p>12.95€</p>
          <p>13.95€</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h4>Spicy Shio Ramen</h4>
      <div>
        <div>
          <p>CHICKEN</p>
          <p>BEEF</p>
          <p>SHRIMP</p>
        </div>
        <div>
          <p>11.95€</p>
          <p>12.95€</p>
          <p>13.95€</p>
        </div>
      </div>
    </div>
    <img
      src="./../../../assets/img/3_section_our_menu/Png/R2.png"
      alt="Ramen2"
    />
  </div>
  <div>
    <img
      src="./../../../assets/img/3_section_our_menu/Png/R3.png"
      alt="Ramen3"
    />
    <div>
      <h4>Shio Ramen</h4>
      <div>
        <div>
          <p>CHICKEN</p>
          <p>BEEF</p>
          <p>SHRIMP</p>
        </div>
        <div>
          <p>11.95€</p>
          <p>12.95€</p>
          <p>13.95€</p>
        </div>
      </div>
    </div>
  </div>
</section>
