@import "./../../../styles.scss";

@mixin dFlex($fd: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

section {
  @include dFlex($fd: column);
  gap: 64px;
  padding: 120px 0;
  > h2 {
    font-size: 80px;
    color: $red-font-color;
  }
  > div {
    display: flex;
    gap: 164px;
    > div {
      @include dFlex($fd: column);
      gap: 16px;
      > img {
        height: 128px;
        width: 128px;
      }
      > p {
        text-align: center;
        font-size: 56px;
        font-weight: bold;
      }
    }
  }
}
