@import "./../../../styles.scss";

@mixin dFlexColumn() {
  display: flex;
  flex-direction: column;
}

section {
  @include dFlexColumn();
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 120px 0;
  > h2 {
    font-size: 80px;
    color: $red-font-color;
  }
  > div {
    display: flex;
    gap: 164px;
    > div {
      @include dFlexColumn();
      align-items: center;
      gap: 16px;
      > img {
        height: 128px;
        width: 128px;
      }
      > p {
        text-align: center;
        font-size: 56px;
        font-weight: bold;
      }
    }
  }
}
